/* Basic styles for webpage structure */
* {
  box-sizing: border-box;
}

body {
	background-color: #FDF6E5;
	margin: 0px 20px 0px 20px;
	display: flex;
  	flex-direction: column;
}

/* Tabs styling */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Navbar styles */
.topnav {
	background-color: #A95209;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: blanchedalmond;
	color: black;
}

.topnav a.active {
	background-color:brown;
}

.topnav .icon {
	display: none;
}

/* Footer Styles */
footer {
	position: static;
	flex:50px;/*or just height:50px;*/
  	margin-top: auto;
	color: #f2f2f2;
}
/*.vis {
	display: none;
}*/

footer {
	position: static;
	background-color: #E4AB89;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 20px;
}

.footer-left,
.footer-center,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-left {
	width: 40%;
}

.footer-row h3 {
	color: #f2f2f2;
	margin: 0;
}
.footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

footer a {
	display: inline block;
	line-height: 1.5;
	text-decoration: none;
	color: #f2f2f2;
}

footer a:hover {
	color: black;
}

.footer-company-name {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-center {
	width: 35%;
}

.footer-center i {
	background-color: #E4AB89;
	color: #f2f2f2;
	font-size: 25px;
	width: 38px;
	height:38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-centeri.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-right {
	width: 20%;
}

.footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}

.footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-restraunt-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-icons{
	margin-top: 25px;
}
 

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float:right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;

	}
}

@media (max-width: 600px) {
 
	footer{
		font: bold 14px sans-serif;
	
	}
 
	.footer-left,
	.footer-center,
	.footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}

.title-text {
	width: 100%;
	text-align: center;
}

/*for the cards*/
.card {
  margin: 20px 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card-img {
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  object-fit:cover;
  width: 100%;
  height: 250px;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
}

.row {
	margin: 0 auto;
	width: 100%;
}

.con-column {
  float: left;
  width: 30%;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1300px) {
  .column {
    width: 45%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 880px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}